In [2]:
import pandas as pd
import numpy as np

C:\Users\Gebruiker\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Gebruiker\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\Gebruiker\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Filtering the GWAS summary satistics file for gene annotation step of MAGMA

In [62]:
file = "snp_loc.txt"

data = pd.read_csv(file, sep="\t")

In [63]:
data.head(10)

,CHR,POS,SNP,Tested_Allele,Other_Allele,Freq_Tested_Allele_in_HRS,BETA,SE,P,N
0,7,92383888,rs10,A,C,0.06431,-0.0066,0.0035,6.000000e-02,605309.0
1,12,126890980,rs1000000,A,G,0.22190,-0.0001,0.0017,9.500000e-01,706961.0
2,4,21618674,rs10000010,T,C,0.50860,-0.0022,0.0014,1.200000e-01,697417.0
3,4,1357325,rs10000012,C,G,0.86340,0.0143,0.0021,4.500000e-12,709514.0
4,4,37225069,rs10000013,A,C,0.77080,0.0015,0.0017,3.900000e-01,704912.0
5,4,84778125,rs10000017,T,C,0.22840,0.0019,0.0017,2.800000e-01,703109.0
6,3,183635768,rs1000002,T,C,0.48840,0.0040,0.0014,5.100000e-03,709522.0
7,4,95733906,rs10000023,T,G,0.58170,0.0029,0.0015,4.600000e-02,691905.0
8,4,156176217,rs10000027,C,G,0.77100,-0.0013,0.0019,4.800000e-01,526087.0
9,3,98342907,rs1000003,A,G,0.84040,0.0078,0.0020,8.900000e-05,707561.0

In [64]:
~data.columns.isin(['CHR', 'POS', 'SNP'])

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [65]:
# FIlter the data


# data.drop(columns=[])
# indices_remove = np.where(data.columns != 'SNP')
data.drop(columns=data.columns[~data.columns.isin(['CHR', 'POS', 'SNP'])], inplace=True)

In [66]:
snp_data = data.SNP
data.drop(columns="SNP", inplace=True)
data.insert(0, "SNP", snp_data)

In [67]:
data.head(10)

          SNP  CHR        POS
0        rs10    7   92383888
1   rs1000000   12  126890980
2  rs10000010    4   21618674
3  rs10000012    4    1357325
4  rs10000013    4   37225069
5  rs10000017    4   84778125
6   rs1000002    3  183635768
7  rs10000023    4   95733906
8  rs10000027    4  156176217
9   rs1000003    3   98342907

In [68]:
data.to_csv("snp_loc_filtered.txt", sep="\t", index=False)

In [46]:
file = 'C:\\Users\\Gebruiker\\OneDrive\\Documents\\integrated omics\\project\\magma files\\ensgR75_protein_coding.txt'

df = pd.read_csv(file, sep="\t")

In [47]:
df

,Ensembl Gene ID,Chromosome Name,Gene Start (bp),Gene End (bp),Gene Biotype,Band,Associated Gene Name
0,ENSG00000236624,1,45959538,45965751,protein_coding,p34.1,CCDC163P
1,ENSG00000159214,1,44457031,44462200,protein_coding,p34.1,CCDC24
2,ENSG00000243452,1,148555979,148596267,protein_coding,q21.2,NBPF15
3,ENSG00000164008,1,43232940,43263968,protein_coding,p34.2,C1orf50
4,ENSG00000143847,1,202995626,203047868,protein_coding,q32.1,PPFIA4
...,...,...,...,...,...,...,...
20322,ENSG00000233803,Y,9175073,9177893,protein_coding,p11.2,TSPY4
20323,ENSG00000229549,Y,9195406,9218479,protein_coding,p11.2,TSPY8
20324,ENSG00000228927,Y,9236030,9307357,protein_coding,p11.2,TSPY3
20325,ENSG00000258992,Y,9236076,9307357,protein_coding,p11.2,TSPY1
20326,ENSG00000205944,Y,25365594,25437503,protein_coding,q11.223,DAZ2

In [48]:
~df.columns.isin(['Ensembl Gene ID', 'Chromosome Name', 'Gene Start (bp)', 'Gene End (bp)'])

array([False, False, False, False,  True,  True,  True])

In [49]:
# FIlter the data


# data.drop(columns=[])
# indices_remove = np.where(data.columns != 'SNP')
df.drop(columns=df.columns[~df.columns.isin(['Ensembl Gene ID', 'Chromosome Name', 'Gene Start (bp)', 'Gene End (bp)'])], inplace=True)

In [50]:
df

       Ensembl Gene ID Chromosome Name  Gene Start (bp)  Gene End (bp)
0      ENSG00000236624               1         45959538       45965751
1      ENSG00000159214               1         44457031       44462200
2      ENSG00000243452               1        148555979      148596267
3      ENSG00000164008               1         43232940       43263968
4      ENSG00000143847               1        202995626      203047868
...                ...             ...              ...            ...
20322  ENSG00000233803               Y          9175073        9177893
20323  ENSG00000229549               Y          9195406        9218479
20324  ENSG00000228927               Y          9236030        9307357
20325  ENSG00000258992               Y          9236076        9307357
20326  ENSG00000205944               Y         25365594       25437503

[20327 rows x 4 columns]

In [51]:

df.rename(columns = {'Ensembl Gene ID':'Gene ID', 'Gene Start (bp)':'start site', 'Gene End (bp)':'stop site', 'Chromosome Name':'chromosome'}, inplace = True)

In [52]:
df

               Gene ID chromosome  start site  stop site
0      ENSG00000236624          1    45959538   45965751
1      ENSG00000159214          1    44457031   44462200
2      ENSG00000243452          1   148555979  148596267
3      ENSG00000164008          1    43232940   43263968
4      ENSG00000143847          1   202995626  203047868
...                ...        ...         ...        ...
20322  ENSG00000233803          Y     9175073    9177893
20323  ENSG00000229549          Y     9195406    9218479
20324  ENSG00000228927          Y     9236030    9307357
20325  ENSG00000258992          Y     9236076    9307357
20326  ENSG00000205944          Y    25365594   25437503

[20327 rows x 4 columns]

In [ ]:
df.drop

In [54]:
df.to_csv("gen_loc_filtered.txt", sep="\t", index=False)

In [16]:
file = "C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\inflammatory_bowel_disease\\28067908-GCST004131-EFO_0003767.h.tsv"

df = pd.read_csv(file, sep="\t")

In [17]:
df

,hm_variant_id,hm_rsid,hm_chrom,hm_pos,hm_other_allele,hm_effect_allele,hm_beta,hm_odds_ratio,hm_ci_lower,hm_ci_upper,...,beta,standard_error,p_value,chromosome,base_pair_location,odds_ratio,ci_lower,variant_id,effect_allele_frequency,ci_upper
0,10_9958055_A_G,rs6602381,10,9958055,A,G,0.0108,NaN,NaN,NaN,...,0.0108,0.0127,0.39360,10,9958055,NaN,NaN,rs6602381,NaN,NaN
1,10_98240868_A_G,rs7899632,10,98240868,A,G,0.0230,NaN,NaN,NaN,...,0.0230,0.0124,0.06407,10,98240868,NaN,NaN,rs7899632,NaN,NaN
2,10_98240888_A_C,rs61875309,10,98240888,A,C,-0.0291,NaN,NaN,NaN,...,-0.0291,0.0153,0.05748,10,98240888,NaN,NaN,rs61875309,NaN,NaN
3,10_98242110_C_T,rs150203744,10,98242110,C,T,0.0607,NaN,NaN,NaN,...,-0.0607,0.0581,0.29600,10,98242110,NaN,NaN,rs150203744,NaN,NaN
4,10_98242707_T_C,rs111551711,10,98242707,T,C,-0.0225,NaN,NaN,NaN,...,-0.0225,0.0731,0.75790,10,98242707,NaN,NaN,rs111551711,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9633625,9_97236364_C_G,rs10981297,9,97236364,C,G,-0.0002,NaN,NaN,NaN,...,-0.0002,0.0159,0.98750,9,97236364,NaN,NaN,rs10981297,NaN,NaN
9633626,9_9999880_G_C,rs151001359,9,9999880,G,C,0.1749,NaN,NaN,NaN,...,-0.1749,0.0834,0.03586,9,9999880,NaN,NaN,rs151001359,NaN,NaN
9633627,9_97236872_G_A,rs80110029,9,97236872,G,A,-0.0873,NaN,NaN,NaN,...,0.0873,0.1310,0.50520,9,97236872,NaN,NaN,rs80110029,NaN,NaN
9633628,9_97237186_A_G,rs10981301,9,97237186,A,G,-0.0069,NaN,NaN,NaN,...,-0.0069,0.0215,0.74750,9,97237186,NaN,NaN,rs10981301,NaN,NaN
9633629,9_97237543_A_AC,rs148363074,9,97237543,A,AC,-0.1876,NaN,NaN,NaN,...,-0.1876,0.1540,0.22310,9,97237543,NaN,NaN,rs148363074,NaN,NaN

In [18]:
df = df[['hm_rsid', 'hm_chrom', 'hm_pos', 'p_value']]

In [19]:
df = df.rename(columns={'hm_rsid':'SNP', 'hm_chrom':'CHR', 'hm_pos':'POS', 'p_value':'P' })

In [20]:
df

                 SNP  CHR       POS        P
0          rs6602381   10   9958055  0.39360
1          rs7899632   10  98240868  0.06407
2         rs61875309   10  98240888  0.05748
3        rs150203744   10  98242110  0.29600
4        rs111551711   10  98242707  0.75790
...              ...  ...       ...      ...
9633625   rs10981297    9  97236364  0.98750
9633626  rs151001359    9   9999880  0.03586
9633627   rs80110029    9  97236872  0.50520
9633628   rs10981301    9  97237186  0.74750
9633629  rs148363074    9  97237543  0.22310

[9633630 rows x 4 columns]

In [21]:
df.to_csv("GWAS_IBM.txt", sep="\t", index=False)

In [22]:
file = "C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\Height5e8_200_geneprioritization.txt"

depict = pd.read_csv(file, sep="\t")

In [23]:
depict

,Locus,Nr of genes in locus,Chromosome and position,Ensembl Gene ID,Gene symbol,Nominal P value,Gene closest to lead SNP,Gene bio-type,Top cis eQTL SNP (Westra et al. Nature Genetics 2014),False discovery rate < 5%
0,rs2227901,4,chr4:57774042-57931769,ENSG00000084093,REST,4.310743e-08,True,protein_coding+retained_intron+processed_trans...,rs2412771,Yes
1,rs17532490;rs9315779,6,chr13:41129817-41658137,ENSG00000150907,FOXO1,4.530148e-08,True,protein_coding+processed_transcript,-,Yes
2,rs3734254,4,chr6:35182190-35395968,ENSG00000112033,PPARD,4.052225e-07,True,protein_coding,rs9470015,Yes
3,rs3117048,3,chr1:22148738-22339032,ENSG00000142798,HSPG2,8.719209e-07,False,processed_transcript+protein_coding+nonsense_m...,-,Yes
4,rs7108541,1,chr11:2016406-2022700,ENSG00000130600,H19,2.702912e-06,True,lincRNA+retained_intron+processed_transcript,-,Yes
...,...,...,...,...,...,...,...,...,...,...
436,rs1291602;rs2405270;rs246844,11,chr5:130494720-131679899,ENSG00000164398,ACSL6,9.997796e-01,False,nonsense_mediated_decay+protein_coding+retaine...,rs253946;rs11242094;rs247285,No
437,rs2288257,10,chr15:71389291-72879692,ENSG00000140488,CELF6,9.998338e-01,False,protein_coding,-,No
438,rs2409694,13,chr8:10753555-11438851,ENSG00000236827,-,9.998553e-01,False,protein_coding,-,No
439,rs541545,1,chr11:125773271-125793158,ENSG00000109832,DDX25,9.999195e-01,True,protein_coding+retained_intron+processed_trans...,rs12222832,No
440,rs6713523;rs843713,6,chr2:53759810-54532437,ENSG00000119737,GPR75,9.999756e-01,False,protein_coding,-,No

In [24]:
file = "C:\\Users\\Gebruiker\\OneDrive\\Documents\\DSLS\\integrated_omics\\project\\Height5e8_min200_geneprioritization.txt"
df = pd.read_csv(file, sep="\t")

In [25]:
df

,Locus,Nr of genes in locus,Chromosome and position,Ensembl Gene ID,Gene symbol,Nominal P value,Gene closest to lead SNP,Gene bio-type,Top cis eQTL SNP (Westra et al. Nature Genetics 2014),False discovery rate < 5%
0,rs12982744,2,chr19:2100993-2232577,ENSG00000104885,DOT1L,5.855184e-07,True,protein_coding+retained_intron,-,Yes
1,rs1966265;rs422421,2,chr5:176513887-176727216,ENSG00000165671,NSD1,7.552638e-07,False,retained_intron+protein_coding+nonsense_mediat...,rs17078748,Yes
2,rs720390,1,chr3:185361527-185542844,ENSG00000073792,IGF2BP2,1.608599e-06,True,protein_coding+processed_transcript,-,Yes
3,rs224343;rs3171389;rs6060456;rs6060605;rs61196...,16,chr20:33890369-34858840,ENSG00000125965,GDF5,1.730465e-06,True,protein_coding,-,Yes
4,rs2070776;rs7216798;rs9893518;rs3785568,16,chr17:61627822-62050278,ENSG00000198909,MAP3K3,1.980322e-06,True,protein_coding,-,Yes
...,...,...,...,...,...,...,...,...,...,...
212,rs273913;rs7701414,13,chr5:130581186-131826490,ENSG00000164398,ACSL6,9.998287e-01,False,nonsense_mediated_decay+protein_coding+retaine...,rs253946;rs11242094;rs247285,No
213,rs2093058;rs6058052;rs6087571;rs6088618;rs6088...,23,chr20:32570858-33880204,ENSG00000125966,MMP24,9.998709e-01,True,protein_coding,-,No
214,rs2011926;rs508347;rs849133,2,chr7:27870192-28281515,ENSG00000234336,-,9.999673e-01,False,antisense,-,No
215,rs10182181;rs11695471;rs13428823;rs2289195;rs1...,9,chr2:24714783-25565459,ENSG00000084710,EFR3B,9.999892e-01,True,protein_coding,-,No
216,rs208346;rs2533888;rs4719646;rs798491;rs798503,2,chr7:2719156-2883958,ENSG00000174945,AMZ1,9.999920e-01,True,protein_coding+processed_transcript+retained_i...,rs1713924,No